extends layout

block content
	h1= title
	p Welcome to our Restaurant

	// Wrapper
	#wrapper

		// MENU
		h2 Menu
		#menu
			table
				thead
					th ID
					th Item
					th Price  
					th Course
					th Vegetarian
					th Select
					tbody
		// /MENU
		h2 Menu
		#order
			table
				thead
					th ORDER
					th (DELETE)
					tbody
		// /order
	// /WRAPPER