.selection button {
	display:block;
}

.container div {
	display:inline-block;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
}

button {
	width: 100px;
	border-radius:5px;
	color:red;
}


body {
	background-color: #f5f5f5;
}

table
{
	border: 1px solid grey;
	padding: 5px;
}
th
{
	padding: 2%;
	background-color: #d34a3a;
}

.course-row
{
	background-color: #d34a3a;
}
button
{
	border: none;
	color: black;
	border-radius: 0;
}	