doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        block content
        script(src='/javascripts/socket.io.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='/javascripts/TableFunctions.js')
        script(src='/javascripts/tenderFunctions.js')